// color variants
@import 'colors.scss';

/*************************/
/** ITEM Main ************/
/*************************/

.AboutMainElementContainer {
  width: 100%;
  padding: 100px 0 100px 0;
  position: relative;
  overflow: hidden;
}

.AboutMainElementContainer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.AboutMainElementContainer .MuiContainer-root {
  position: relative;
  z-index: 1;
}

.AboutMainElementContainer .MuiTypography-body1 {
  font-size: 18px;
}

/*************************/
/** ITEM Experience ************/
/*************************/

.AboutExperienceElementContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 120px 0 30px 0;
  background-image: url('../images/about/pexels-photo-4050347.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.AboutExperienceElementContainer:after {
  content: "";
  background: $primaryMain + f0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.AboutExperienceElementContainer .TitleBlock {
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
}

.AboutExperienceElementContainer .ContentBlock {
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
  color: $grayLight;
}

.AboutExperienceElementContainer .ContentBlock .MuiAvatar-root {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 5px -1px, rgba(255, 255, 255, 0.14) 0px 5px 8px 0px, rgba(255, 255, 255, 0.12) 0px 1px 14px 0px;
}

.AboutExperienceElementContainer .ContentBlock .ContentName {
  color: $warningMain;
  font-size: 14px;
  padding-right: 16px;
}

.AboutExperienceElementContainer .ContentBlock .LineTime {
  margin-left: 80px;
  margin-top: 21px;
  position: relative;
}

.AboutExperienceElementContainer .ContentBlock .LineTime:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -25px;
  top: 4px;
  border-radius: 50%;
  background: $infoMain;
}

.AboutExperienceElementContainer .ContentBlock .MuiGrid-container:first-child .LineTime:before {
  background: $successMain;
}

.AboutExperienceElementContainer .ContentBlock .MuiGrid-container:first-child .LineTime:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: -30px;
  top: -1px;
  border-radius: 50%;
  border: 1px solid $successMain;
  opacity: 0;

  -webkit-animation: waveLineTime 3s linear infinite;
  -moz-animation: waveLineTime 3s linear infinite;
  animation: waveLineTime 3s linear infinite;
}

@keyframes waveLineTime {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.AboutExperienceElementContainer .ContentBlock .Map-Frame {
  border: none;
  width: 100%;
  border-radius: 10px;
  height: 250px;
}

/*************************/
/** ITEM MySkills ************/
/*************************/

.AboutMySkillsElementContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.AboutMySkillsElementContainer2 {
  padding: 140px 0;
  background: $secondaryMain;
}

.AboutMySkillsElementContainer:after {
  content: "";
  background: linear-gradient(180deg, #3e4862 30%, #edacac 100%);
  position: absolute;
  bottom: 199px;
  left: -204px;
  width: 1600px;
  height: 1600px;
  border-radius: 20%;
  transform: rotate(313deg);
}

.AboutMySkillsElementContainer .MuiContainer-root {
  position: relative;
  z-index: 1;
}

.AboutMySkillsElementContainer .MuiGrid-container {
  margin-top: 40px;
}

.AboutMySkillsElementContainer .MuiGrid-container .PaperItem {
  padding: 30px;
}

.AboutMySkillsElementContainer .MuiGrid-container .PaperItem .MuiTypography-body1 {
  padding-top: 20px;
}

.AboutMySkillsElementContainer .MuiGrid-container .PaperItem .MuiTypography-subtitle2 {
  font-size: 16px;
}

/*************************/
/** ITEM Questions ************/
/*************************/

.AboutQuestionsElementContainer {
  width: 100%;
  padding: 120px 0;
  position: relative;
  overflow: hidden;
}

.AboutQuestionsElementContainer .IconBg {
  width: 180px;
  margin: 0 auto;
}
