// background color
$paper: white;

// mui colors
$primaryLight: #4d5d8314;
$primaryMain: #4d5d83;
$primaryDark: #3e4862;

$secondaryLight: #e5cece14;
$secondaryMain: #e5cece;
$secondaryDark: #edacac;

$errorLight: #c832f914;
$errorMain: #c832f9;
$errorDark: #8621a7;

$warningLight: #ff805314;
$warningMain: #ff8053;
$warningDark: #bb6141;

$infoLight: #51c0ff14;
$infoMain: #51c0ff;
$infoDark: #337aa3;

$successLight: #03af7214;
$successMain: #03af72;
$successDark: #01744b;

$grayLight: #ecf0f1;
$grayMain: #8b8b8b;
$grayDark: #515151;

:export {
  // primary
  primaryLight: $primaryLight;
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;

  // secondary
  secondaryLight: $secondaryLight;
  secondaryMain: $secondaryMain;
  secondaryDark: $secondaryDark;

  // error
  errorLight: $errorLight;
  errorMain: $errorMain;
  errorDark: $errorDark;

  // warning
  warningLight: $warningLight;
  warningMain: $warningMain;
  warningDark: $warningDark;

  // info
  infoLight: $infoLight;
  infoMain: $infoMain;
  infoDark: $infoDark;

  // success
  successLight: $successLight;
  successMain: $successMain;
  successDark: $successDark;

  // gray
  grayLight: $grayLight;
  grayMain: $grayMain;
  grayDark: $grayDark;
}