// color variants
@import 'colors.scss';

/*************************/
/** ITEM Main ************/
/*************************/

.ItemMainContainer {
  background: #e5cece;
  width: 100%;
  padding: 140px 0;
  position: relative;
  overflow: hidden;
}

.ItemMainContainer .MuiContainer-root {
  position: relative;
}

.ItemMainContainer .TitleMain {
  color: #4d5d83;
}

.ItemMainContainer .SubtitleMain {
  color: #03af72;
  position: relative;
}

.ItemMainContainer .SubtitleMain:after {
  content: "";
  position: absolute;
  right: 0;
  top: 34px;
  height: 3px;
  border-radius: 2px;
  width: 188px;
  background: #03af72;
}

.ItemMainContainer:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: linear-gradient(180deg, #3e4862 0%, #edacac 100%);
}

.ItemMainContainer .Content {
  position: relative;
  text-align: right;
}

/** Wave **/
.Wave {
  position: absolute;
  right: -120px;
  top: -730px;
  height: 1900px;
  width: 1800px;
  background: #e5cece;
  border-radius: 30%;
  -webkit-animation: waveSpin 20s linear infinite;
  -moz-animation: waveSpin 20s linear infinite;
  animation: waveSpin 20s linear infinite;
}

.Wave.item2 {
  top: -710px;
  height: 1900px;
  width: 1800px;
  opacity: 0.5;
}

.Wave.item3 {
  top: -690px;
  height: 1900px;
  width: 1800px;
  opacity: 0.5;
}

@keyframes waveSpin {
  100% {
    transform: rotate(360deg);
  }
}

/** Circle **/
.Circle {
  width: 60px;
  height: 60px;
  background: #03af72;
  border-radius: 50%;
  top: -76px;
  right: 84px;
  position: absolute;
}

.Circle.item2 {
  width: 40px;
  height: 40px;
  right: 25px;
  top: 183px;
  background: #ff8053;
}

.Circle.item3 {
  width: 25px;
  height: 25px;
  right: 250px;
  top: -3px;
  background: #c832f9;
}

.Circle.item4 {
  width: 36px;
  height: 36px;
  right: 551px;
  top: 121px;
  background: #51c0ff;
}

/*************************/
/** ITEM Blocks **********/
/*************************/
.ItemBlocksContainer {
  padding: 130px 30px;
  text-align: center;
  background-image: url('../images/home/bg_home.png');
  background-repeat: repeat-x;
  background-position: center;
  color: white !important;
  position: relative;
}

.ItemBlocksContainer:after {
  content: "";
  background: #4d5d83db;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ItemBlocksContainer .MuiContainer-root {
  position: relative;
  z-index: 1;
}

.ItemBlocksContainer .InfoBlock {
  text-align: left;
  padding: 40px;
  color: white;
}

.ItemBlocksContainer .InfoBlock .BoxWithButton {
  position: relative;
}

.ItemBlocksContainer .InfoBlock .BoxWithButton span.MuiTypography-root {
  visibility: visible;
  transition-duration: 400ms;
  transition-property: opacity;
}

.ItemBlocksContainer .InfoBlock .BoxWithButton button {
  width: 38px;
  height: 38px;
  opacity: 0;
  position: absolute;
  top: 4px;
  left: 0;
  visibility: hidden;
  transition-duration: 400ms;
  transition-property: opacity;
}

.ItemBlocksContainer .InfoBlock .BoxWithButton button svg {
  font-size: 24px;
}

.ItemBlocksContainer .InfoBlock:hover .BoxWithButton span.MuiTypography-root {
  opacity: 0;
  visibility: hidden;
}

.ItemBlocksContainer .InfoBlock:hover .BoxWithButton button {
  visibility: visible;
  opacity: 1;
}

.ItemBlocksContainer .InfoBlock.item1 {
  background: #337aa3;
}

.ItemBlocksContainer .InfoBlock.item2 {
  background: #bb6141;
}

.ItemBlocksContainer .InfoBlock.item3 {
  background: #8621a7;
}

.ItemBlocksContainer .InfoBlock.item4 {
  background: #01744b;
}

.ItemBlocksContainer .InfoBlock.item1 .BoxWithButton button svg {
  color: #337aa3;
}

.ItemBlocksContainer .InfoBlock.item2 .BoxWithButton button svg {
  color: #bb6141;
}

.ItemBlocksContainer .InfoBlock.item3 .BoxWithButton button svg {
  color: #8621a7;
}

.ItemBlocksContainer .InfoBlock.item4 .BoxWithButton button svg {
  color: #01744b;
}

.ItemBlocksContainer .InfoBlock svg {
  font-size: 50px;
}

/*************************/
/** ITEM Review **********/
/*************************/
.ItemReviewContainer {
  background-image: url('../images/home/header-bg-team.jpg');
  position: relative;
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ItemReviewContainer:after {
  content: "";
  background: #4d5d83db;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ItemReviewContainer .Content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

.ItemReviewContainer .Content .MuiFab-circular {
  background-color: white !important;
  margin: 10px 15px;
  -webkit-filter: inherit !important;
  filter: none !important;
  opacity: 1 !important;
}

.ItemReviewContainer .Content .MuiFab-circular svg {
  color: #2b4effd6;
}

.ItemReviewContainer .Content .MuiIconButton-sizeMedium {
  margin-top: 20px;
}

/*************************/
/** ITEM AboutMe *********/
/*************************/
.ItemAboutMeContainer {
  padding: 140px 0;
  text-align: right;
}

.ItemAboutMeContainer .title {
  color: #51c0ff;
  font-size: 80px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -1px;
  text-transform: lowercase;
  position: relative;
}

.ItemAboutMeContainer .title:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #51c0ff;
  border-radius: 30%;
  top: 58px;
  right: -19px;
  position: absolute;
  animation: spin2 5s linear infinite;
}

@keyframes spin2 {
  100% {
    transform: rotate(360deg);
  }
}

.ItemAboutMeContainer .subtitle {
  color: #515151;
  font-weight: normal;
}

/*************************/
/** ITEM Proud ***********/
/*************************/
.ItemProudContainer {
  padding: 120px 0;
  text-align: right;
}

.ItemProudContainer .title {
  color: #ff8053;
  font-size: 80px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -1px;
  text-transform: lowercase;
  position: relative;
}

.ItemProudContainer .title:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #ff8053;
  border-radius: 30%;
  top: 58px;
  right: -19px;
  position: absolute;
  animation: spin2 5s linear infinite;
}

.ItemProudContainer .subtitle {
  color: #515151;
  font-weight: normal;
}

.ItemProudContainer .MuiGrid-item .MuiSvgIcon-root {
  font-size: 36px;
  stroke-width: 1;
}

.ItemProudContainer .MuiGrid-item:nth-child(1) .MuiSvgIcon-root {
  color: #fc4d93;
}

.ItemProudContainer .MuiGrid-item:nth-child(2) .MuiSvgIcon-root {
  color: #FF8F21;
}

.ItemProudContainer .MuiGrid-item:nth-child(3) .MuiSvgIcon-root {
  color: #14C0DA;
}

.ItemProudContainer .MuiGrid-item:nth-child(4) .MuiSvgIcon-root {
  color: #516EFF;
}

/*************************/
/** ITEM Start ***********/
/*************************/
.ItemStartContainer {
  padding: 120px 0 180px;
  text-align: center;
}

.ItemStartContainer .MuiContainer-root {
  position: relative;
}

.ItemStartContainer .MuiGrid-root {
  text-align: left;
}

.ItemStartContainer .StartBlock h2 {
  text-transform: none;
}

.ItemStartContainer .StartBlock {
  text-align: left;
  position: absolute;
  bottom: -260px;
  left: 24px;
  right: 24px;
  background: #4d5d83;
  overflow: hidden;
  color: white;
  padding: 40px;
}

.ItemStartContainer .StartBlock .Content {
  position: relative;
  z-index: 1;
}

.ItemStartContainer .StartBlock:after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  top: -300px;
  right: -130px;
  background: #edacac;
  border-radius: 50%;
}