.Books-Page .BooksContent {
  margin-bottom: 60px;
}

.Books-Page .MuiMasonry-root {
  width: calc(100% + 40px);
  margin-left: -20px;
}

.Books-Page .BooksContent .BooksTitleHeader {
  margin-bottom: 60px;
  padding: 60px 0 60px 0;
  text-align: center;
}

.Books-Page .BooksContent .BooksTitleHeader .Title h2 {
}

.Books-Page .BooksContent .BooksTitleHeader .Lottie {
  width: 300px;
  margin: -65px auto;
}

.Books-Page .BooksContent .BooksTitleHeader .Title h6 {
  white-space: break-spaces;
}

.Books-Page .BooksContent .MuiAutocomplete-root {
  max-width: 435px;
  width: 100%;
  float: right;
}

.Books-Page .BooksContent .ImageCard {
  position: relative;
}

.Books-Page .BooksContent .ImageCard .MuiBox-root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #3e486247 79%, #283044e0 85%);
  text-align: center;
}

.Books-Page .BooksContent .ImageCard .MuiBox-root .MuiButton-root {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 450px) {
  .Books-Page .BooksContent .BooksTitleHeader .Lottie {
    width: 200px;
  }
  .Books-Page .BooksContent .BooksTitleHeader .Title h6 {
    white-space: normal;
  }
}