.Video-Page .BoxYouTubeMove {
  position: relative;
  z-index: 1;
  height: 600px;
}

.Video-Page .BoxYouTubeMove.Audio {
  height: 120px !important;
}

.Video-Page .BoxYouTubeFrame.Fix {
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 867px;
  top: 0;
  right: 0;
  left: 0;
  scrollbar-gutter: stable;
}

.Video-Page .BoxYouTubeFrameRad {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  position: relative;
}

.Video-Page .BoxYouTubeFrame {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Video-Page .BoxYouTubeFrame .IFrame {
  height: 479px;
  width: 100%;
}

.Video-Page .BoxYouTubeFrame .ContainerButton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #3e4862 0%, #283044 100%);
  text-align: center;
}

.Video-Page .BoxYouTubeFrame .ContainerButton .MuiCircularProgress-root {
  width: 70px !important;
  height: 70px !important;
}

.Video-Page .BoxYouTubeFrame .ContainerButton .MuiSvgIcon-root {
  width: 90px;
  height: 90px;
}

.Video-Page .BoxYouTubeFrame .ContainerButton .AppTableCell {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Video-Page .BoxYouTubeFrame .ContainerButton .AppTableCell .ContainerButtonItems {
  position: relative;
  z-index: 1;
}

.Video-Page .BoxYouTubeFrame .ContainerButton .AppTableCell:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #3e486217 0%, #283044de 100%);
}

.Video-Page .VideoContent .VideoText {
  line-height: 34px;
  text-align: justify;
}

.Video-Page .VideoContent .VideoText p {
  display: inline;
  padding: 4px 8px;
  margin-right: 6px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.Video-Page .VideoContent .VideoText p.Pause {
  opacity: 0.6;
}

@media (max-width: 940px) {
  .Video-Page .BoxYouTubeFrame.Fix {
    width: calc(100% - 48px);
  }
}

@media (max-width: 600px) {
  .Video-Page .BoxYouTubeFrame.Fix {
    width: calc(100% - 32px);
  }
  .Video-Page .BoxYouTubeMove.Audio {
    height: 175px !important;
  }
}

@media (max-width: 800px) {
  .Video-Page .BoxYouTubeMove {
    height: 575px;
  }
  .Video-Page .BoxYouTubeFrame .IFrame {
    height: 450px;
  }
}

@media (max-width: 700px) {
  .Video-Page .BoxYouTubeMove {
    height: 525px;
  }
  .Video-Page .BoxYouTubeFrame .IFrame {
    height: 400px;
  }
}

@media (max-width: 600px) {
  .Video-Page .BoxYouTubeMove {
    height: 530px;
  }
  .Video-Page .BoxYouTubeFrame .IFrame {
    height: 350px;
  }
}

@media (max-width: 500px) {
  .Video-Page .BoxYouTubeMove {
    height: 480px;
  }
  .Video-Page .BoxYouTubeFrame .IFrame {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .Video-Page .BoxYouTubeMove {
    height: 430px;
  }
  .Video-Page .BoxYouTubeFrame .IFrame {
    height: 250px;
  }
}

@media (max-width: 350px) {
  .Video-Page .BoxYouTubeMove {
    height: 380px;
  }
  .Video-Page .BoxYouTubeFrame .IFrame {
    height: 200px;
  }
  .Video-Page .VideoContent .VideoText {
    line-height: 33px;
  }
  .Video-Page .VideoContent .VideoText p {
    font-size: 14px;
  }
}